@model Contact

@{
    ViewData["Title"] = "Confirmacao";
}



    <header>
        <h1>Afrikatranças</h1>
        <p> O meu cabelo é minha identidade.</p>
    </header>
    <a asp-controller="home" asp-action="Index">Inicio</a>
    <a asp-controller="home" asp-action="Quemsomos">Quem somos</a>
    <a asp-controller="home" asp-action="Produtos">Produtos</a>
    <a asp-controller="home" asp-action="TratamentoNaturais">Tratamentos Naturais</a>
     <a asp-controller= "home" asp-action="Contato">Contato</a>

    

    <P>
        <h1>Agradecemos seu interesse,responderemos em breve!!!</h1>
         <img src="~/img/indexafrika/Fulani-Braids.jpg" height="600" width="600">
    </P>

