@using Microsoft.AspNetCore.Http;



@{
  ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>afrikaTranças</title>
    <link rel="stylesheet" href="~/css/afrika.css" />
</head>

<body class="corpo">

  <header >
    <h1 class="titulo">Afrikatranças</h1>
    <p> O meu cabelo é minha identidade.</p>
  </header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a asp-controller="home" asp-action="Quemsomos">Quem somos</a>
            <a asp-controller="home" asp-action="Produtos">Produtos</a>
            <a asp-controller="home" asp-action="TratamentoNaturais">Tratamentos Naturais</a>
            <a asp-controller="home" asp-action="Contato">Contato</a>

          </li>

        </ul>

      </div>
    </div>
  </nav>
  <p>

  </p>
  <div class="container">
    <h1>Tranças Afros </h1>
    <p>
      Definitivamente ter um cabelo estiloso e lindo não é para qualquer uma. Precisa ter muita atitude,
      personalidade e, acima de tudo, identidade e raiz. Diante disso, viemos falar sobre tranças afros,
      afinal, elas representam a beleza da mulher negra e empoderada. São lindas e têm inúmeras variações de
      cor,tamanho e espessura.
    </p>
    <img class="image" src="~/img/indexafrika/Fulani-Braids.jpg" height="600" width="600">
  </div>


  <div>
    <h1>Trança Natural ou Sintética?</h1>
    <p>Se você está passando pela transição capilar, pode ainda adotar o visual já que ela é uma excelente
      aliada de
      quem deseja “disfarçar” as duas texturas presentes nos cabelos. Mas se você optou pelo BC (big chop) e
      está
      com o cabelo bem curto, pode apostar nas tranças sintéticas para exibir um outro visual.

      Vale destacar aqui que se você escolheu pelas tranças sintéticas, pode apostar em dois tipos principais
      de
      fibras: kanekalon e jumbo. O jumbo acaba sendo a opção mais buscada pelas brasileiras e pode ser
      facilmente
      encontrado, além do que apresenta os melhores preços, cores e é mais leve. Porém, as tranças kanekalon
      têm
      um resultado mais natural que o jumbo, o que impacta um pouco no preço, que costuma ser mais salgado.
    </p>

    <img class="image" src="~/img/indexafrika/tranças 03.jpg" alt="trança" title="Natural ou sintética?" height="400" width="500">
  </div <div>
  <h1>Tipos de Tranças</h1>
  <h2>Box Braids</h2>
  <p>As conhecidas tranças box braids são tranças individuais feitas em toda a extensão do cabelo e tem como
    principal papel unir os cabelos naturais aos cabelos sintéticos. Você pode escolher fazer em qualquer
    espessura e comprimento, porém a maioria das mulheres opta pela técnica que deixa as madeixas maiores e mais
    volumosas. Esse modelo possui também um forte apelo cultural e está diretamente ligada à cultura negra.

    Essa trança afro protege os cabelos naturais das agressões externas e evita que eles se quebrem ou fiquem
    danificados, o que facilita um crescimento forte e saudável. Além disso, esse modelo permite criar vários
    looks diferentes.</p>
  <img src="~/img/indexafrika/boxbraids.jpg" alt="boxbraid" title="boxbraid" height="400" widht="200">
  <img src="~/img/indexafrika/boxbraids2.jpg" alt="boxbraid" title="boxbraid" height="400" widht="200">
  <img src="~/img/indexafrika/boxbraids03.jpg" alt="boxbraid" title="boxbraid" height="400" widht="200">

  </div>
  <div class="container">
    <h2>Tranças Nagô (tranças Raiz)</h2>
    <P>
      A trança nagô, também conhecida como trança raiz, começa na raiz da cabeça e é feita por todo o comprimento,
      em cabelos naturais ou adicionando fios sintéticos para aumentar a extensão das madeixas. Entre os tipos de
      tranças, a trança nagô é uma das mais versáteis, pois pode ser feita em linha reta, de maneira paralela, ou
      até formar desenhos na cabeça.

      Esse modelo é ideal para quem tem cabelo afro, porém pode ser feito em outros tipos de curvaturas e em
      diferentes comprimentos.
    </P>
    <img src="~/img/indexafrika/nago01.jpg" alt="nago" title="nago" height="400" widht="200">
    <img src="~/img/indexafrika/nago02.jpg" alt="nago" title="nago masculino" height="400" widht="200">
    <img src="~/img/indexafrika/nago03.jpg" alt="nago" title="nago" height="400" widht="200">
  </div>
  <div class="container">
    <h1 >Penteados </h1>
    <p>Usar tranças afro já é ter muito estilo, saiba que fazer penteados com elas pode deixar o
      seu visual ainda mais moderno e fashion. Veja uma seleção incrível de penteados com tranças para você
      arrasar por aí</p>
    <h2>Coques</h2>
    <p>Um penteado simples que você pode fazer em qualquer um dos tipos de tranças é o coque. E ele fica ainda mais
      estiloso no topo da cabeça com um acessório, como uma bandana, lenço ou turbante. Além disso, é uma ótima
      opção para os dias mais quentes!
      Temos o coque alto e o duplo.
    </p>
    <h3>Coque alto</h3>
    <p>Use coque alto para ter estilo e refrescar a nuca</p>
    <img src="~/img/indexafrika/coque01.jpg" alt="coquealto" title="coquealto" height="400" widht="200">
    <img src="~/img/indexafrika/coque2.jpg" alt="coquealto" title="coquealto" height="400" widht="200">
    <p>
    <h3>Coque Duplo</h3>
    Quem disse que tranças afro não podem usar os penteados que são o hit do momento? Você pode transformar as suas
    trancinhas box em um lindo coque duplo, também conhecido como space bun. E você também pode enrolar e prender os
    coque com a própria trança – basta deixar uma solta, fazer o coque, e depois pegar essa que restou e enrolar em
    volta do coque.
    </p>
    <img src="~/img/indexafrika/coqueduplo.jpg" alt="coqueduplo" title="coqueduplo" height="400" widht="200">
    <img src="~/img/indexafrika/coqueduplo02.jpg" alt="coqueduplo" title="coqueduplo" height="400" widht="200">




  </div>
</body>

</html>