<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>afrikaTranças</title>
    <link rel="stylesheet" href="~/css/afrika.css" />
</head>

<header>
  <h1 class="titulo">Afrikatranças</h1>
    
</header>
<div class="barra">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a asp-controller="home" asp-action="Quemsomos">Quem somos</a>
              <a asp-controller="home" asp-action="Produtos">Produtos</a>
              <a asp-controller="home" asp-action="TratamentoNaturais">Tratamentos Naturais</a>
              <a asp-controller="home" asp-action="Contato">Contato</a>

            </li>

          </ul>

        </div>
      </div>
    </nav>

<body class="corpo">
    <div class="container">
    <h1 > Produtos</h1>
    <p >Cabelos crespos ficaram quase extintos com a onda dos fios chapados. Mas quem assume as madeixas no estilo
        afro, chama a atenção por onde passa. Por isso, não é preciso escondê-los. Para deixar os cabelos crespos ainda
        mais lindos,pode-se lançar mão de penteados e cores, além de ter alguns cuidados especiais com o cabelo
        afro.
    </p>
    <div>
        <h2>Cremes, Shampoos e Condicionadores</h2>
        <p>
            Hidratação – Os cabelos crespos devem ser hidratados semanalmente. Aposte nos produtos à base de silicone,
            colágeno e de elastina, proteínas, óleos e extratos vegetais, ceramidas e vitamina que repõem nutrientes e
            ajudam a unir as pontas duplas.

            Cabelo afro requer hidratação e condicionamento profundo, principalmente quando o cabelo estiver exposto a
            relaxantes químicos, penteados puxados e aparelhos de calor, como enroladores e chapinhas. Um condicionador
            não
            é nada mais do que um creme aplicado ao cabelo para alisar os fios, amaciar o cabelo e restaurar a
            hidratação.
            Alguns óleos também podem ajudar. Concentre-se em hidratar tudo, apenas sempre excluindo o couro cabeludo.
        </p>
        <img src="~/img/produtos/kit_afro.jpg" height="300" width="300" title="kit_afro">
        <img src="~/img/produtos/produtos-para-cabelo-cacheado-charisse-kenion-576536-unsplash.jpg" height="300" width="300">
    </div>


    <h2>Gel fixador e Finalizador</h2>
    <p>Para que serve o gel finalizador e fixador de cabelo cacheado?
        O finalizador para cabelo cacheado dá brilho, diminui o frizz, hidrata e, claro, ajuda a definir os cachos e dar
        volume. Qual deles escolher vai depender do tipo de definição que você quer. Eles são democráticos e, portanto,
        mulheres com diferentes tipos de cachos podem se beneficiar desses produtos.</p>
    <img src="~/img/produtos/gelfin.jpg" width="300" height="300" title="gel finalizador">
    <img src="~/img/produtos/gelfinalizador.jpg" width="300" height="300" title="gel finalizador">

    <h2> Gel Braids</h2>
    <p>O Gel Braids ou pomada fixadora, é um produto feito especialmente para você que é viciada em Tranças ou você que
        é Trancista. A sua
        textura é ideal para finalização das tranças. Deve ser aplicado nas pontas para uma acabamento mais delicado. A
        sua fragrância é perfeita para quem gosta de trancinhas bem cheirosas e bem cuidadas.</p>
    <img src="~/img/produtos/pomadafix.jpg" widht="300" height="300" title="pomadafix">
    <img src="~/img/produtos/pomadafix2.jpg" width="300" height="300" title="pomadafix2">

    <h2>Touca de cetim</h2>
    <p>Para que serve uma touca de cetim?
        A principal função da touca de cetim, é minimizar o atrito que ocorre entre os fios e o
        travesseiro durante a noite. Diminuindo o efeito do frizz nos cabelos e assim o penteado dura mais tempo.
    </p>
    <img src="~/img/produtos/touca.jpg" width="300" height="300" title="touca">
    <img src = "~/img/produtos/touca2.jpg" width="300"  height="300" title="touca">

    </body>
</html>