<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>afrikaTranças</title>
    <link rel="stylesheet" href="~/css/afrika.css" />
</head>

<header>
  <h1 class="titulo">Afrikatranças</h1>
    
</header>
<div class="barra">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="index">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a asp-controller="home" asp-action="Quemsomos">Quem somos</a>
              <a asp-controller="home" asp-action="Produtos">Produtos</a>
              <a asp-controller="home" asp-action="TratamentoNaturais">Tratamentos Naturais</a>
              <a asp-controller="home" asp-action="Contato">Contato</a>

            </li>

          </ul>

        </div>
      </div>
    </nav>

<body class="corpo">
    <div>
    
   
  
    <h1> Quem somos</h1>
    <p >
        Nascida em Florianópolis,começou no ramo de tranças por acaso,inspirada pela cultura afro americana,onde o uso de tranças
        estourou na década de 90,cantores de black music, jogadores de basquete entre outros influenciadores que desfilavam com seus 
        penteados estilosos e diferenciados.
        Usando a si mesma como "cobaia", aprendeu a arte de trançar e criando seu estilo próprio chamando a atenção de suas amigas 
        que queriam usar um penteado diferente.
        Com o crescimento da cultura afro e a aceitação dos cabelos crespos e volumosos, as transições entre o cabelo maltratado
        por aplicações quimicas cuja solução na maioria das vezes é um corte de  cabelo curto as tranças surgiram como opçao.
        </p>
        <div >
      
<div class="container">
  <div class="row  g-4">
   <div class="col md-4">
       <div class="card" style="width: 18rem;">
  <img src="~/img/quemsomos/Beyonce1.jpg" class="card-img-center" alt="...">
  <div class="card-body">   
    <p class="text-center">Cantora</p>
  </div>
  </div>
</div>
<div class="col md-4">
  <div class="card" style="width: 18rem;">
  <img src="~/img/quemsomos/iverson-braids-wof-2.jpg" class="card-img-center" alt="...">
  <div class="card-body">
        <p class="text-center" style="">Jogador de Basquete</p>
  </div>
</div>
   </div>
   <div class="col md-4">
  <div class="card" style="width: 18rem;">
  <img src="~/img/quemsomos/mary-j-blige-6.jpg" class="card-img-center" alt="...">
  <div class="card-body">
    <p class="text-center">Cantora</p>
  </div>
  </div>
</div>
</div>
</div>
</div>
        
      
    </div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
       
</body>
</html>

