<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>afrikaTranças</title>
    <link rel="stylesheet" href="~/css/afrika.css" />
</head>

<header>
  <h1 class="titulo">Afrikatranças</h1>
    
</header>
<div class="barra">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="index">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a asp-controller="home" asp-action="Quemsomos">Quem somos</a>
              <a asp-controller="home" asp-action="Produtos">Produtos</a>
              <a asp-controller="home" asp-action="TratamentoNaturais">Tratamentos Naturais</a>
              <a asp-controller="home" asp-action="Contato">Contato</a>

            </li>

          </ul>

        </div>
      </div>
    </nav>

<body class="corpo">
    <div class="container-fluid">
    
   
  
    <h1> Quem somos</h1>
    <p >
        Nascida em Florianópolis,começou no ramo de tranças por acaso,inspirada pela cultura afro americana,onde o uso de tranças
        estourou na década de 90,cantores de black music, jogadores de basquete entre outros influenciadores que desfilavam com seus 
        penteados estilosos e diferenciados.
        Usando a si mesma como "cobaia", aprendeu a arte de trançar e criando seu estilo próprio chamando a atenção de suas amigas 
        que queriam usar um penteado diferente.
        Com o crescimento da cultura afro e a aceitação dos cabelos crespos e volumosos, as transições entre o cabelo maltratado
        por aplicações quimicas cuja solução na maioria das vezes é um corte de  cabelo curto as tranças surgiram como opçao.
        </p>
        <div class="slides">
      <img src="~/img/quemsomos/Beyonce1.jpg" alt="1" height="420" width="180">
      <img src="~/img/quemsomos/iverson-braids-wof-2.jpg" alt="2" height="420" width="180">
       <img src="~/img/quemsomos/mary-j-blige-6.jpg" alt="3" height="420" width="180">
        
      
    </div>

       
</body>
</html>

