<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>afrikaTranças</title>
    <link rel="stylesheet" href="~/css/afrika.css" />
</head>

<header>
  <h1 class="titulo">Afrikatranças</h1>
    
</header>
<div class="barra">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="Index">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a asp-controller="home" asp-action="Quemsomos">Quem somos</a>
              <a asp-controller="home" asp-action="Produtos">Produtos</a>
              <a asp-controller="home" asp-action="TratamentoNaturais">Tratamentos Naturais</a>
              <a asp-controller="home" asp-action="Contato">Contato</a>

            </li>

          </ul>

        </div>
      </div>
    </nav>

<body class="corpo">
    <div class="container">
       
        <h1>Tratamentos Naturais</h1>
        <p>Ingredientes como banana, abacate, mel e iogurte podem ser usados para preparar máscaras caseiras que
            hidratam
            profundamente os cabelos, sendo especialmente indicado para quem tem cabelos crespos ou cacheados. Além
            disso, estes ingredientes além de serem naturais, podem também ser facilmente encontrados em casa o que
            facilita a preparação destas máscaras.</p>


        <p>Os cabelos cacheados são lindos e elegantes porém, se não forem bem cuidados, podem facilmente ficar com uma
            aparência de cabelo seco e sem vida, acabando por quebrar com facilidade por falta de hidratação. Além
            disso, se o cabelo não estiver bem hidratado o cachos não ficam definidos e o cabelo fica sem forma. Veja
            como deve ser feita a hidratação dos cabelos cacheados em 3 passos para hidratar os cabelos cacheados em
            casa. Assim, para manter a saúde e hidratação dos seus cabelos cacheados, experimente preparar uma das
            seguintes mascaras naturais</p>

        <h2> Mascara de Banana e Abacate</h2>

        <p>A mascara de banana pode ser preparada combinando banana, maionese e azeite e esta pode ser preparada do
            seguinte modo:
        </p>

        <h3>Ingredientes</h3>

        <ul>

            <li>1 banana;
            <li>meio abacate;
            <li>3 colheres de sopa para maionese;
            <li>1 colher de sopa de azeite.
        </ul>
        
         <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <img src="~/img/tratamentos/abacate-organico-un-osm.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="text-center">Abacate</h5>
                  </div>
                </div>
              </div>

               <div class="col">
                <div class="card">
                  <img src="~/img/tratamentos/17.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="text-center">Mel</h5>
                  </div>
                </div>
              </div>

               <div class="col">
                <div class="card">
                  <img src="~/img/tratamentos/banana_600797891.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="text-center">Banana</h5>
                  </div>
                </div>
              </div>
          <div>
    
        <h3>Modo de preparo</h3>

        <ul>
            <li>Descascar a banana e o abacate e bater no liquidificador até obter uma pasta;
            <li>Em outro recipiente, coloque a maionese e o azeite e misture bem;
            <li>Misture a pasta de banana e abacate com a maionese e o azeite e aplique sobre o cabelo acabado de lavar.
            <li> Esta pasta deve ser aplicada sobre o cabelo acabado de lavar e seco com uma toalha, deixando atuar
                cerca de 30 minutos, lavando depois novamente o cabelo com shampoo para remover bem os resíduos da
                máscara. Além disso, para disfarçar o cheiro da maionese e do azeite, pode adicionar umas gotas de
                óleo essencial de tangerina ou alfazema, por exemplo.
            </ul>
            </div>
          <div>
            <p>
                <h2>Mascara de Mel e Iorgurte</h2>

                <h3>Ingredientes</h3>

                <ul>
                    <li>1 iogurte grego,
                    <li>3 colheres de sopa de mel.
                </ul>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                 <div class="col">
                <div class="card">
                  <img src="~/img/tratamentos/mel.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="text-center">Mel</h5>
                  </div>
                </div>
              </div>
               <div class="col">
                <div class="card">
                  <img src="~/img/tratamentos/iogurte.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="text-center">Iogurte</h5>
                  </div>
                </div>
              </div>
                </div>


                
            </p>
                <h3>Modo de preparo.</h3>
                <P>
                <ul>
                    <li>Colocar o iogurte e o mel em um recipiente e misturar bem até obter uma mistura homogênea;
                    <li> Passar a mistura sobre o cabelo acabado de lavar.
                        <p>
                            Esta mistura deve ser aplicada sobre o cabelo acabado de lavar e seco com uma toalha,
                            deixando
                            atuar entre 20 a 60 minutos, passando depois o cabelo por água para remover bem os resíduos.
                            Além disso, se preferir também pode adicionar uma cápsula de vitamina E à mistura e esta
                            máscara
                            é também uma excelente opção para o couro cabeludo irritado ou com caspa, devido ás
                            propriedades
                            do iogurte.
                       </p>
                </ul>
                </P>
          </div>
                
</body>

</html>