@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.corpo{   
        
    background-size:auto;
    background-repeat: no-repeat;
    background-color: #DFB4FA;
    background-color: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);    
    align-items: center;
    
   
}


.barra{
    text-align: right;
    padding-bottom:150px;

    
}

.titulo{
    font-family: 'Parisienne';    
    font-size: 100px;
    text-align: left;


}
.subt{
    font-family: 'Parisienne';
    font-size: 20px;    
    text-align: right;
    position: absolute;   

}

h1,h2,h3{
    text-align: left;
    
}

p {
    text-align: left;
}
form{
    text-align: right;
}


ul{
    text-align: left;
    
}
